support/
autobackups/
soj/
c_debug
c_debug_archive
g_debug
c_debug_archive.txt
g_debug_archive.txt
script_log.txt
g_debug.txt
c_debug.txt
sword-of-jade-steam-windows.zip
sword-of-jade-steam-linux-x86_64.zip
sword-of-jade-mac.zip
*.gz
sword-of-jade-web.zip
